.connect {
	padding-right:50px;
}
.icons {
	padding-right:50px;
}
.ad {
	display:inline-block;
}
.container {
	width:33%;
}

<div class="container" style="display:inline-block;text-align:center;">
    <div class="connect">
      <p style="color:#bb860f;font-family:Playfair Display;"><b>LET'S STAY CONNECTED!</b></p>
    <div class="icons" style="background-color:#ed8aad;">
    <a href="index.html"><img src="images/fb.png" alt="fb icon" style="width:20px;height:20px;"></a>
    <a href="https://wa.me/8683373710"><img src="images/whatsapp.png" alt="whatsapp icon" style="width:20px;height:20px;"></a>
    <a href="index.html"><img src="images/twitter.png" alt="twitter icon" style="width:20px;height:20px;"></a>
    <a href="index.html"><img src="images/ig.png" alt="ig icon" style="width:20px;height:20px;"></a>
    <a href="index.html"><img src="images/tiktok.png" alt="tiktok icon" style="width:20px;height:20px;"></a>
    <a href="index.html"><img src="images/gmail.png" alt="gmail icon" style="width:20px;height:20px;"></a>
  </div></div>
 <div class="container">
  <div class="ad" style=":inline-block;">
    <a href="shop.html" style="color:#bb860f;font-family:Playfair Display;text-decoration:none;">
      <button><b>SHOP TIGM</b></button></a>
  </div></div></div>