body {
	background-color:#ed8aad;
}
h1 {
	color:#bb860f;
	margin:0px;
	padding:0px;
}
}
a:hover > home-buttons {
	background-color:#88ac4b;
}
.shop-button { 
	background-color:#88ac4b;
	display:block;
}
.button-overlay button {
    position:absolute;
    display:block;
    bottom:-8.5%;
    left:48.5%;
    transform:translate(-50%, -50%);
}	
.post {
	margin-bottom:-100px;
	margin-top:-75px;
	margin-bottom:-100px;
}
.fly > img {
	float:left;
}
.fly {
	margin-left:25px;
	margin-right:25px;
}
.connect {
	padding-right:50px;
}
.icons {
	padding-right:50px;
}

.shop {
	margin-property:0px;
}
.gallery {
	margin:auto;
	text-align:center;
}
.images {
	box-sizing:border-box;
	color:#bb860f;
	border:1px solid;
	display:inline-block;
	background-color:white;
}
.desc:hover {
	background-color:#88ac4b;
}
}
.images:hover {
	background-color:#88ac4b;
}

.container {
	float:left;
	padding:5px;
	align:vertical-align;
}
.footer-button:hover {
	background-color:#88ac4b;
}
.link {
	display:inline-block;
}

.girl > img {
	float:left;
}
